<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Account Web  </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Account Details</h1>
<table>
    <tr>
        <th>Account Name</th>
        <th>Amount</th>
    </tr>
    <tr th:each="account : ${accountinfo}">
        <td th:text="${account.getAccountName()}">Id</td>
        <td th:text="${account.getAmount()}">Title</td>
    </tr>
</table>

<h1>Stock Details</h1>
<table>
    <tr>
        <th>Stock Name</th>
        <th>Value</th>
    </tr>
    <tr th:each="stock : ${stockinfo}">
        <td th:text="${stock.getStockName()}">Id</td>
        <td th:text="${stock.getStockValue()}">Title</td>
    </tr>
</table>
</body>
</html>